/* Roboto Font */
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap");

/* styles.css */
body {
	font-family: "Roboto", sans-serif;
	text-align: center;
	padding: 20px;
	font-size: 16px;
}

.letter-buttons button {
	margin: 0.4rem;
	padding: 0.4rem;
	width: 3rem;
	border-radius: 5px;
	cursor: pointer;
}

.letter-buttons .used {
	background-color: red;
	color: white;
}

.letter-buttons button:disabled {
	cursor: not-allowed;
}

#wordToGuess {
	font-size: 1.7rem;
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.word-options {
	display: flex;
	width: 100%;
	justify-content: space-around;

	label {
		font-size: 1.5rem;
	}
}

.guesses,
.title {
	font-size: 1.7rem;
	font-weight: 300;
	text-transform: uppercase;
	margin-top: 2rem;
}

.guesses-count {
	font-size: inherit;
  font-weight: bolder;
  color: red;
}

h1.title + p {
	font-style: italic;
}

/* Hangman */
#hangman {
  height: 150px;  /* Fixed height, consider making this relative if needed */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hangman-part {
  display: none;  /*Initially hide all parts*/
  position: absolute;
  background-color: black;
}

#head {
  top: 10%; /* Start at 10% from the top of the container */
  left: 50%;
  transform: translate(-50%, 0);  /* Center horizontally */
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
}

#body {
  top: 27%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 5vw;
  height: 8vw;  /* Taller than wide */
}

#rightArm, #leftArm {
  width: 4vw;
  height: 1vw;  /* Thinner than body */
  top: 30%;  /* Positioning so it appears out of the body */
}

#rightArm {
  left: 56%;
  transform: translateX(-100%);
}

#leftArm {
  left: 44%;
}

#rightLeg, #leftLeg {
  width: 1vw;
  height: 8vw;
  top: 40%;
}

#rightLeg {
  left: 52%;
  transform: translateX(-100%);
}

#leftLeg {
  left: 48%;
}

@media (min-width: 600px) {
  .hangman-part {
      width: 20px;
      height: 20px;
  }

  #head {
      width: 40px;
      height: 40px;
  }

  #body {
      width: 35px;
      height: 60px;
  }

  #rightArm, #leftArm {
      width: 40px;
      height: 5px;
  }

  #rightLeg, #leftLeg {
      width: 5px;
      height: 60px;
  }
}

@media (min-width: 992px) {
  .hangman-part {
      width: 20px;
      height: 20px;
  }

  #head {
      width: 40px;
      height: 40px;
  }

  #body {
      width: 35px;
      height: 60px;
  }

  #rightArm, #leftArm {
      width: 40px;
      height: 5px;
  }

  #rightArm {
    left: 55%;
  }

  #leftArm {
    left: 45%;
  }

  #rightLeg, #leftLeg {
      width: 5px;
      height: 60px;
  }

  #rightLeg {
    left: 51.5%;
  }

  #leftLeg {
    left: 48.5%;
  }
}

@media (min-width: 1200px) {
  .hangman-part {
      width: 20px;
      height: 20px;
  }

  #head {
      width: 40px;
      height: 40px;
  }

  #body {
      width: 35px;
      height: 60px;
  }

  /* #rightArm, #leftArm, #rightLeg, #leftLeg {
    background-color: green;
  } */

  #rightArm, #leftArm {
      width: 40px;
      height: 5px;
  }

  #rightArm {
    left: 54%;
  }

  #leftArm {
    left: 46%;
  }

  #rightLeg, #leftLeg {
      width: 5px;
      height: 60px;
  }

  #rightLeg {
    left: 51%;
  }

  #leftLeg {
    left: 49%;
  }
}


